@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: rgb(213, 235, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

#container {
    width: 300px;

}

.bloque-blanco {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding-left: 10%;
    padding-right: 10%
}


.bloque-blanco>* {
    font-size: 0.9e;
    padding: 0.1em;
    background-color: white;
    flex-direction: column;
    text-align: center;

}

#image {
    width: 90%;

}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 391px) {

    


}



/* @media max-width 1170px */