@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
}

.continer {
    background-color: hsl(228, 45%, 44%); } ;
    width: 80%;
    height: 80%;

}

.bloque-blanco {
    background-color: white;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media (max-whidth 1056px)

